#root {
  width: 100%;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 10px;
}

p {
  font-size: 2rem;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid white;
  background-color: grey;
}
